@{
    ViewData["Title"] = "Que Vadis?";
}

<div class="my-5 mx-auto text-center">
    <h1 class="display-4">Quo Vadis?</h1>
    <p class="lead">please Register of Log in.</p>
</div>
<div class="d-grid gap-2 d-flex justify-content-center pb-4">
    <button type="button" class="btn btn-outline-info">
        <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Login">Login</a>
    </button>
    <button type="button" class="btn btn-outline-info">
        <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Register">Register</a>
    </button>
</div>

<div class="bd-example">
    <center>
      <img data-src="https://http.cat/401" class="img-fluid rounded"  style="height: 600px; width: 750px; display: block;" src="https://http.cat/401" data-holder-rendered="true">
    </center>
</div>


