@model CW_FrontEnd_rebuilt.ObjectModel.UserLogin
@{
    ViewData["Title"] = "Login Page";
}

<maisn class="form-signin w-100 m-auto">
  <form asp-controller="User" asp-action="Login">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

    <div class="form-floating">
      <label asp-for="username" for="floatingInput"></label>
      <input asp-for="username"  class="form-control" placeholder="name@example.com">
      <span asp-validation-for="username" class="text-danger"></span>
    </div>
    <div class="form-floating">
      <label asp-for="password" for="floatingPassword"></label>
      <input asp-for="password" name="password" type="text" class="form-control" value="@Model.password" placeholder="password">
      <span asp-validation-for="password" class="text-danger"></span>
    </div>

    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted">©2022</p>
  </form>
</maisn>

