@model CW_FrontEnd_rebuilt.ObjectModel.User

@{
    ViewData["Title"] = "Register Page";
}
<div class="container">
     <div class="row"> 
   <div class="col-sm">
    </div>
       <div class="col-sm">
      
<main class="form-signin w-100 m-auto">
  <form asp-controller="User" asp-action="Register">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <h1 class="h3 mb-3 fw-normal">Please register</h1>

    <div class="form-floating">
      <h5 class="h5 fw">username</h5>
      <input asp-for="userName"  class="form-control"value="@Model.userName" placeholder="name@example.com" required>
      <span asp-validation-for="userName" class="text-danger"></span>
    </div>
    
    <div class="form-floating">
      <h5 class="h5 fw">bio</h5>
      <input asp-for="bio"  class="form-control"value="@Model.bio" placeholder="bio" required>
      <span asp-validation-for="bio" class="text-danger"></span>
    </div>

    <div class="form-floating">
      <h5 class="h5 fw">password</h5>
      <input asp-for="password" name="Password" type="text" class="form-control" value="@Model.password" placeholder="Password" required>
      <span asp-validation-for="password" class="text-danger"></span>
    </div>
    <div class="form-floating">
      <h5 class="h5 fw">image link</h5>
      <input asp-for="imageLink" name="ImageLink" type="text" class="form-control" value="@Model.imageLink" placeholder="Link" required>
      <span asp-validation-for="imageLink" class="text-danger"></span>
    

    <button class="w-100 btn btn-lg btn-primary" type="submit">Register</button>
    <p class="mt-5 mb-3 text-muted">©2022</p>
  </form>

</main>
 </div>
    <div class="col-sm">
      
    </div>
    </div>
      </div>