@model CW_FrontEnd_rebuilt.ObjectModel.User

@{
    ViewData["Title"] = "Profile Page";
}


    <div class="row py-5 px-4">
        <div class="col-md-5 mx-auto"> 
            <div class="bg-white shadow rounded overflow-hidden"> 

                <div class="px-4 py-5 my-5 text-center">
    <img class="rounded-circle" src=@Model.imageLink alt="" width="200" height="200">
    <h1 class="display-5 fw-bold">@Model.userName</h1>
    <button type="button" class="btn btn-primary btn-sm">
    <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Edit">Edit</a>
</button>
     </div>
                                 <div class="px-4 py-3">
                                     <h5 class="mb-0">About</h5> <div class="p-4 rounded shadow-sm bg-light"> 
                                         <p class="font-italic mb-0">@Model.bio</p> 
                                        
                                         </div></div>
                                         
                                      <center>
  <h1>Your Characters: </h1>
  <ul class="list-group list-group-flush">
  @if (Model.characters!=null)
  {
        foreach (var item in Model.characters)
        {
             <li class="list-group-item">
                  <img class="rounded-circle" src=@item.imageLink alt="" width="70" height="70">
                  @Html.DisplayFor(modelItem => item.firstName) @Html.DisplayFor(modelItem => item.lastName)
                  
                  
                  <button type="button" class="btn btn-primary btn-sm">
                  <a href="https://adoptdndwaifus.azurewebsites.net/characters/view/@item.characterId" class="nav-link text-dark" >View</a>
                  </button>

<button type="button" class="btn btn-primary btn-sm">
    <a href="https://adoptdndwaifus.azurewebsites.net/characters/remove/@item.characterId" class="nav-link text-dark" >Delete</a>
</button>
             </li>
        }
   }

   else
   {
       <h1>empty. create some:</h1>
   }
</ul>
    <button type="button" class="btn btn-primary btn-sm">
    <a class="nav-link text-dark" asp-area="" asp-controller="Characters" asp-action="AddCharacter">Add</a>
</button>
     </center>

                                     </div> </div> 
</div>
