@model string[]
@{
    ViewData["Title"] = "Images";
}

<div class="container">
  <div class="row">
    <div class="col-4">
         <aside class="bd-sidebar">
       <nav id="sidebar">
         <div class="flex-shrink-0 p-3 bg-white" style="width: 280px;">
    <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
      <svg class="bi me-2" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
      <span class="fs-5 fw-semibold">Collapsible</span>
    </a>
    <ul class="list-unstyled ps-0">
      <li class="mb-1">
        <h4 class="display-8">NSFW</h4>
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
             <li><a href="https://adoptdndwaifus.azurewebsites.net/images/browse/sfw/lick" class="link-dark rounded">lick</a></li>
             <li><a href="https://adoptdndwaifus.azurewebsites.net/images/browse/sfw/waifu" class="link-dark rounded">waifu</a></li>
             <li><a href="https://adoptdndwaifus.azurewebsites.net/images/browse/sfw/nom" class="link-dark rounded">nom</a></li>
             <li><a href="https://adoptdndwaifus.azurewebsites.net/images/browse/sfw/megumin" class="link-dark rounded">megumin</a></li>

            </ul>
         </li>
      
        
    </ul>
  </div>

    </nav>
    

    </aside>
    </div>
    <div class="col-8">
          @if (Model != null)
        {


            <div class="row py-5 px-4">
                <div class="col-md-10 mx-auto"> 
                    <div class="bg-white shadow rounded overflow-hidden"> 
                        <div class="px-4 py-5 my-5 text-center">
                             <img src=@Model[0] class="rounded float-start" style='height: 100%; width: 100%; object-fit: contain'>
                            <h4 class="display-8">@Model[0]</h4>
                        </div>

                        <div class="px-4 py-3">
                            <div class="p-4 rounded shadow-sm bg-light"> 
                                <p class="font-italic mb-0">@Model[1]</p> 

                            </div></div> </div> </div> 
            </div>
        }
    </div>
  </div>
</div>
