@Model 
@{
    ViewData["Title"] = "Images";
}

    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">Search for Waifu Images</h1>
      <p class="lead">have fun and hands on the table</p>
    </div>
     <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
         <a href="https://animetyandnd.azurewebsites.net/images/browse/sfw/poke" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">SFW</a>
         <a href="https://animetyandnd.azurewebsites.net/images/browse/sfw/neko" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">NSFW</a>
        </div>
        <div class="bd-example">
</div>

