@{
    ViewData["Title"] = "Home Page";
}
@using CW_FrontEnd_rebuilt.ObjectModel

<main>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">ADOPT A WAIFU</h1>
        <p class="lead text-muted">look at the examples below and get to work</p>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

        <div class="col">
          <div class="card shadow-sm">
                <img src="https://i.pinimg.com/564x/41/3b/42/413b421e86514c49e86eb2b37d8689ee.jpg" class="rounded float-start" alt="...">
            <div class="card-body">
              <p class="card-text">It’s my fault. Because I betrayed you. Even though you were the first friend I ever made</p>
              <div class="d-flex justify-content-between align-items-center">
                 
              </div>
                <small class="text-muted">Ai Ohto</small>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
              <img src="https://i.pinimg.com/564x/12/e5/b0/12e5b0ed7784a3177fa8032cf88c3942.jpg" class="rounded float-start" alt="...">

            <div class="card-body">
              <p class="card-text">My name is Megumin, the number one mage of Axel! Come, you shall all become my experience points today!</p>
              <div class="d-flex justify-content-between align-items-center">
               
                <small class="text-muted">Megumin </small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://i.pinimg.com/564x/0c/7c/c2/0c7cc2fc346c3188cf913dfa61843d2f.jpg" class="rounded float-start" alt="...">
            <div class="card-body">
              <p class="card-text">I'm a goddess who guides humans who die young to the afterlife.</p>
              <div class="d-flex justify-content-between align-items-center">
       
                <small class="text-muted">Agua</small>
              </div>
            </div>
          </div>
        </div>
          </div>
        </div>
      </div>
 
</main>
