@using CW_FrontEnd_rebuilt.ObjectModel;


@model List<User>
@{
    ViewData["Title"] = "Login Page";
}

@foreach (var item in Model)
{
    <tr>
        <td>
            <img class="rounded-circle" src=@item.imageLink alt="" width="200" height="200">                
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.userName)<br/>                    
        </td>
        <td>                 
            @Html.DisplayFor(modelItem => item.role)<br/>
        </td>

    </tr>
}
