@using CW_FrontEnd_rebuilt.ObjectModel

@model List<Character>
@{
    ViewData["Title"] = "Browse Page";
}


<ul class="list-group list-group-flush">
    
@foreach (var item in Model)
{
    <li class="list-group-item">

        <img class="rounded-circle" src=@item.imageLink alt="" width="70" height="70" align="left"> 
         <a href="https://adoptdndwaifus.azurewebsites.net/characters/view/@item.characterId" class="button" align="center">@item.firstName @item.lastName </a>
    </li>
    
}

</ul>

